{% extends "base.html" %}
{% block title %}
    {% if form.id %}
        Update Student
    {% else %}
        Create a New Student
    {% endif %}
{% endblock %}
{% block body %}
    <h1>
        {% if form.id %}
            Update Student
        {% else %}
            Create a New Student
        {% endif %}
    </h1>
    <form method="POST"
          {% if form.id %}action="/students/{{ form.id }}/update/"{% else %}action="/students/create/"{% endif %}>
        >
        <label for="name">Student Name:</label>
        <input type="text"
               id="name"
               name="name"
               value="{{ form.name if form else '' }}">
        <button type="submit">submit</button>
        {% if excpt %}{{ excpt }}{% endif %}
    </form>
{% endblock body %}
