<form method="POST" action="/courses/{{ object.id }}/remove_student/">
    <div class="row uniform">
        <div class="6u 12u(3)">
            <ul class ="actions">
                <li>
                    <select id="student_id" name="registration_on_course_id">
                        {% for student in students_on_course %}
                            {% for c_s in course_students %}
                                {% if c_s.student_id == student.id %}
                                    <option value="{{ c_s.id }}">(id: {{ student.id }}) {{ student.name }}</option>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </select>
                </li>
                <li>
                    <input class="special "
                           type="submit"
                           {% if not students_on_course %}disabled{% endif %}
                           value="Remove Student from Course" />
                </li>
            </ul>
        </div>
    </div>
</form>
