{% extends "base.html" %}
{% block title %}About page{% endblock %}
{% block body %}
  <section id="main" class="wrapper style1">
    <header class="major">
      <h2>About page</h2>
      <p>Faucibus neque adipiscing mi lorem semper blandit</p>
    </header>
    <div class="container">
      <!-- Content -->
      <section id="content">
        <!-- Text -->
        <section>
          <h3>Text</h3>
          <p>
            lorem ipsum dolor sit amet, consectetur adip euismod sem vel diam nonum vul tell suscipit non et dolore magna aliqu compliance lobort neque vel fel.
            This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>.
            This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.
            This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>. Finally, <a href="#">this is a link</a>.
          </p>
        </section>
      </section>
    </div>
  </section>
{% endblock body %}
