{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block body %}
    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h2>Example of WSGI FrameWork</h2>
            <p>
                It is a self-made "bicycle" with "crutches" instead of wheels.
                <br />
                The main purpose of creation is to apply, as well as to experience the use of programming patterns.
            </p>
            <hr />
            <ul class="actions">
                <li>
                    <a href="#one" class="button big scrolly">Explore More</a>
                </li>
            </ul>
        </div>
    </section>
{% endblock body %}
