{% extends "base.html" %}
{% block title %}
    {% if form is defined and form.id is defined %}
        Update Course
    {% else %}
        Create a New Course
    {% endif %}
{% endblock %}
{% block body %}
    <h1>
        {% if form is defined and form.id is defined %}
            Update Course
        {% else %}
            Create a New Course
        {% endif %}
    </h1>
    <form method="POST" action="/courses/create/">
        {% if form.id %}<input type="hidden" name="id" value="{{ form.id }}">{% endif %}
        <label for="name">Course Name:</label>
        <input type="text"
               id="name"
               name="name"
               value="{{ form.name if form else '' }}">
        <label for="category_id">Category:</label>
        <select id="category_id" name="category_id" required>
            {% for category in categories %}
                <option value="{{ category.id }}"
                        {% if form and category.id == form.category_id %}selected{% endif %}>
                    {{ category.name }}
                </option>
            {% endfor %}
        </select>
        <label for="teacher_id">Teacher:</label>
        <select id="teacher_id" name="teacher_id" required>
            {% for teacher in teachers %}
                <option value="{{ teacher.id }}"
                        {% if form and teacher.id == form.teacher_id %}selected{% endif %}>{{ teacher.name }}</option>
            {% endfor %}
        </select>
        <label for="location_or_url">Location or URL:</label>
        <input type="text"
               id="location_or_url"
               name="location_or_url"
               value="{{ form.location or form.url if form else '' }}"
               required>
        <button type="submit">submit</button>
        {% if excpt %}{{ excpt }}{% endif %}
    </form>
{% endblock body %}
