{% extends "base.html" %}
{% block title %}
    {% if form.id %}
        Update Course
    {% else %}
        Create a New Course
    {% endif %}
{% endblock %}
{% block body %}
    <section id="main" class="wrapper style1">
        <header class="major">
            <h2>
                {% if form.id %}
                    Update Course
                {% else %}
                    Create a New Course
                {% endif %}
            </h2>
        </header>
        <div class="container">
            <!-- Content -->
            <section id="content">
                <!-- Form -->
                <form method="POST"
                      {% if form.id %}action="/courses/{{ form.id }}/update/"{% else %}action="/courses/create/"{% endif %}>
                    <!-- Course Name -->
                    <div class="row uniform">
                        <div class="6u 12u(3)">
                            <input type="text"
                                   id="name"
                                   placeholder="Course Name"
                                   name="name"
                                   value="{{ form.name if form else '' }}">
                        </div>
                    </div>
                    <!-- Location or URL -->
                    <div class="row uniform">
                        <div class="6u 12u(3)">
                            <input type="text"
                                   id="location_or_url"
                                   name="location_or_url"
                                   placeholder="Location or URL"
                                   value="{{ form.location or form.url if form else '' }}"
                                   required>
                        </div>
                    </div>
                    <!-- Category -->
                    <div class="row uniform">
                        <div class="6u 12u(3)">
                            <div class="select-wrapper">
                                <label for="category_id">Category:</label>
                                <select id="category_id" name="category_id" required>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}"
                                                {% if form and category.id == form.category_id %}selected{% endif %}>
                                            {{ category.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Teacher -->
                    <div class="row uniform">
                        <div class="6u 12u(3)">
                            <div class="select-wrapper">
                                <label for="teacher_id">Teacher:</label>
                                <select id="teacher_id" name="teacher_id" required>
                                    {% for teacher in teachers %}
                                        <option value="{{ teacher.id }}"
                                                {% if form and teacher.id == form.teacher_id %}selected{% endif %}>
                                            {{ teacher.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row uniform">
                        <div class="12u">
                            <ul class="actions">
                                <li>
                                    <input type="submit" value="Submit" />
                                </li>
                                <li>
                                    <a href="/courses/">Back to courses list</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row uniform">
                        {% if excpt %}{{ excpt }}{% endif %}
                    </div>
                </form>
            </section>
        </div>
    </section>
{% endblock body %}
<button type="submit">submit</button>
